name: Build and publish binaries
run-name: Build and publish binaries for Node.js ${{ inputs.node_version }}

on:
  workflow_dispatch:
    inputs:
      node_version:
        description: Node.js version
        required: true
        type: string

jobs:
  build_linux:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x64
            platform: linux/amd64
          - os: ubuntu-24.04-arm
            arch: arm64
            platform: linux/arm64
    name: Build Linux ${{ matrix.arch }} binary
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download and extract source
        run: curl https://nodejs.org/dist/${{ inputs.node_version }}/node-${{ inputs.node_version }}.tar.gz | tar --extract --gunzip

      - name: Clone patch repository
        uses: actions/checkout@v6
        with:
          path: ./commode/

      - name: Apply patches
        run: git apply ../commode/patches/*.patch
        working-directory: ./node-${{ inputs.node_version }}/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build binary
        uses: docker/build-push-action@v6
        with:
          build-args: node_version=${{ inputs.node_version }}
          context: ./
          file: ./commode/Dockerfile
          outputs: type=local, dest=./
          platforms: ${{ matrix.platform }}

      - name: Rename binary
        run: mv ./node ./node-${{ inputs.node_version }}-linux-${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: node-${{ inputs.node_version }}-linux-${{ matrix.arch }}
          path: ./node-${{ inputs.node_version }}-linux-${{ matrix.arch }}
          if-no-files-found: error

  build_macos:
    strategy:
      matrix:
        include:
          - os: macos-15
            arch: arm64
            jobs: 2
          - os: macos-15-intel
            arch: x64
            jobs: 4
    name: Build macOS ${{ matrix.arch }} binary
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download and extract source
        run: curl https://nodejs.org/dist/${{ inputs.node_version }}/node-${{ inputs.node_version }}.tar.gz | tar --extract

      - name: Clone patch repository
        uses: actions/checkout@v6
        with:
          path: ./commode/

      - name: Apply patches
        run: git apply ../commode/patches/*.patch
        working-directory: ./node-${{ inputs.node_version }}/

      - name: Free space before building
        run: sudo rm -rf $ANDROID_SDK_ROOT

      - name: Set up Xcode toolchain
        run: sudo xcode-select --switch /Applications/Xcode_26.1.app

      - name: Build binary
        run: |
          ./configure --enable-lto --shared-zlib --without-intl --without-amaro --without-npm --without-node-options --without-inspector
          make -j${{ matrix.jobs }}
          strip -x ./out/Release/node
        working-directory: ./node-${{ inputs.node_version }}/

      - name: Rename binary
        run: mv ./node-${{ inputs.node_version }}/out/Release/node ./node-${{ inputs.node_version }}-darwin-${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: node-${{ inputs.node_version }}-darwin-${{ matrix.arch }}
          path: ./node-${{ inputs.node_version }}-darwin-${{ matrix.arch }}
          if-no-files-found: error

  build_windows:
    strategy:
      matrix:
        include:
          - os: windows-2025
            arch: x64
            vs_arch: amd64
          - os: windows-11-arm
            arch: arm64
            vs_arch: arm64
    name: Build Windows ${{ matrix.arch }} addon
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download and extract source
        run: curl https://nodejs.org/dist/${{ inputs.node_version }}/node-${{ inputs.node_version }}.tar.gz | tar --extract

      - name: Clone patch repository
        uses: actions/checkout@v6
        with:
          path: .\commode\

      - name: Apply patches
        run: Resolve-Path -Path ..\commode\patches\*.patch | ForEach-Object -Process { git apply $_ }
        working-directory: .\node-${{ inputs.node_version }}\

      - name: Build binary
        run: |
          & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\Launch-VsDevShell.ps1" -Arch ${{ matrix.vs_arch }}
          .\vcbuild.bat nonpm ltcg intl-none no-NODE-OPTIONS
        working-directory: .\node-${{ inputs.node_version }}\
        env:
          config_flags: --without-amaro --without-inspector

      - name: Rename binary
        run: Move-Item -Path .\node-${{ inputs.node_version }}\out\Release\node.exe -Destination .\node-${{ inputs.node_version }}-win32-${{ matrix.arch }}.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: node-${{ inputs.node_version }}-win32-${{ matrix.arch }}
          path: .\node-${{ inputs.node_version }}-win32-${{ matrix.arch }}.exe
          if-no-files-found: error

  publish:
    name: Publish binaries to release
    permissions:
      contents: write
    needs:
      - build_linux
      - build_macos
      - build_windows
    runs-on: ubuntu-slim
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./
          pattern: node-${{ inputs.node_version }}-*
          merge-multiple: true

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: ./node-${{ inputs.node_version }}-*
          tag_name: ${{ inputs.node_version }}
