name: Publish binaries
run-name: Publish binaries for Node.js ${{ inputs.node_version }}

on:
  workflow_dispatch:
    inputs:
      node_version:
        description: Node.js version
        required: true
        type: string
      run_id:
        description: Workflow run with artifacts
        required: true
        type: string

jobs:
  publish:
    name: Publish binaries to release
    permissions:
      contents: write
    runs-on: ubuntu-slim
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./artifacts/
          pattern: node-${{ inputs.node_version }}-*
          merge-multiple: true

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/*
          tag_name: ${{ inputs.node_version }}
